In [15]:
import mlxtend
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
#dataset = [['milk', 'onion', 'nutmeg', 'kidney beans', 'eggs', 'yogurt'],['dill', 'onion', 'nutmeg', 'kidney beans', 'eggs', 'yogurt'],
#        ['milk', 'apple', 'kidney beans', 'eggs'],['milk', 'unicorn', 'corn', 'kidney beans', 'yogurt'],['corn', 'onion', 'onion', 'kidney beans', 'ice cream', 'yogurt']]
#dataset = pd.DataFrame(data)
#dataset
dataset = [['Skirt', 'Sneakers', 'Scarf', 'Pants', 'Hat'],

    ['Sunglasses', 'Skirt', 'Sneakers', 'Pants', 'Hat'],

    ['Dress', 'Sandals', 'Scarf', 'Pants', 'Heels'],

    ['Dress', 'Necklace', 'Earrings', 'Scarf', 'Hat', 'Heels', 'Hat'],

   ['Earrings', 'Skirt', 'Skirt', 'Scarf', 'Shirt', 'Pants']]
print(type(dataset))
te=TransactionEncoder()
te_ary=te.fit(dataset).transform(dataset)    #Apply one-hot-encoding on our dataset
df=pd.DataFrame(te_ary, columns=te.columns_)  #Creating a new DataFrame from our Numpy array
df

<class 'list'>

,Dress,Earrings,Hat,Heels,Necklace,Pants,Sandals,Scarf,Shirt,Skirt,Sneakers,Sunglasses
0,False,False,True,False,False,True,False,True,False,True,True,False
1,False,False,True,False,False,True,False,False,False,True,True,True
2,True,False,False,True,False,True,True,True,False,False,False,False
3,True,True,True,True,True,False,False,True,False,False,False,False
4,False,True,False,False,False,True,False,True,True,True,False,False

In [17]:
#Support Code
from mlxtend.frequent_patterns import apriori
apriori(df, min_support=0.5) # 50 % of transactions and more

   support itemsets
0      0.6      (2)
1      0.8      (5)
2      0.8      (7)
3      0.6      (9)
4      0.6   (5, 7)
5      0.6   (9, 5)

In [11]:
frequent_itemsets=apriori(df, min_support=0.6, use_colnames=True) #Instead of column indices we can use column names.
frequent_itemsets

   support        itemsets
0      0.6           (Hat)
1      0.8         (Pants)
2      0.8         (Scarf)
3      0.6         (Skirt)
4      0.6  (Scarf, Pants)
5      0.6  (Skirt, Pants)

In [12]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="confidence",min_threshold=0.7) # associate itemsets with confidence over 70%.

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Scarf),(Pants),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8,-0.25
1,(Pants),(Scarf),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8,-0.25
2,(Skirt),(Pants),0.6,0.8,0.6,1.00,1.2500,0.12,inf,0.50
3,(Pants),(Skirt),0.8,0.6,0.6,0.75,1.2500,0.12,1.6,1.00

In [23]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="lift",min_threshold=0)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Scarf),(Pants),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8,-0.25
1,(Pants),(Scarf),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8,-0.25
2,(Skirt),(Pants),0.6,0.8,0.6,1.00,1.2500,0.12,inf,0.50
3,(Pants),(Skirt),0.8,0.6,0.6,0.75,1.2500,0.12,1.6,1.00

In [62]:
import mlxtend
import pandas as pd1
import numpy as np
from mlxtend.preprocessing import TransactionEncoder
dataset1=pd1.read_csv("Market_Basket_Optimisation.csv",header=None)
#replace all nan value with a string value 'noitem'
dataset1.fillna('noitem', inplace=True)
thislist = dataset1.values.tolist()
#this code is for removing all 'noitem' values from the list
list_1 = []
for x in thislist:
    list_2 = set(x)
    list_2.discard('noitem')
    list_3 = list(list_2)
    list_1.append(list_3)
te=TransactionEncoder()
te_ary=te.fit(list_1).transform(list_1)    #Apply one-hot-encoding on our dataset
df1=pd1.DataFrame(te_ary, columns=te.columns_)  #Creating a new DataFrame from our Numpy array
df1

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,True,True,False,True,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7498,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7499,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7500,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [58]:
#Support Code
from mlxtend.frequent_patterns import apriori
apriori(df1, min_support=0.15) # 50 % of transactions and more

    support itemsets
0  0.163845     (25)
1  0.179709     (37)
2  0.170911     (43)
3  0.238368     (72)
4  0.174110    (100)

In [59]:
frequent_itemsets=apriori(df1, min_support=0.15, use_colnames=True) #Instead of column indices we can use column names.
frequent_itemsets

    support         itemsets
0  0.163845      (chocolate)
1  0.179709           (eggs)
2  0.170911   (french fries)
3  0.238368  (mineral water)
4  0.174110      (spaghetti)

In [60]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="confidence",min_threshold=0.7) # associate itemsets with confidence over 70%.

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction, zhangs_metric]
Index: []

In [61]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="lift",min_threshold=0)

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction, zhangs_metric]
Index: []